body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.accordion {
    background-color: transparent;
    color: #222;
    cursor: pointer;
    padding: 5px; /* Reduced padding */
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 5rem;
}

.sub-header {
    font-size: 4rem;
}

.title-header {
    font-size: 4rem;
    margin: 0;
    color: #8c8c8c;
}

p {
    font-size: 1rem;
    margin: 5px;
}
.active, .accordion:hover {
    background-color: transparent;
    color: white;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: black;
    overflow: hidden;
}

button {
    background-color: transparent;
}

.custom-link {
    color: inherit; /* Makes it match surrounding text color */
    text-decoration: none; /* Removes underline */
  }

  .custom-link:visited {
    color: inherit; /* Prevents purple visited color */
  }

  .custom-link:hover {
    text-decoration: underline; /* Optional: add underline on hover */
  }

  .custom-link:active {
    color: inherit; /* Prevents different color on active click */
  }